/* restaurantStyles.css */


h1
{ color: blue;
 text-align: center;
 font: italic 200% fantasy; }

 h4
{ color:aqua;
 text-align: center;
 font: italic 200% fantasy; }

a{ font-family: monospace;
    text-decoration: underline;
    font-weight: none;}
a:link { color: green;}
a:visited { color: red;}
a:hover { text-decoration: underline;
            font-weight: bold; 
            font-family: cursive;}
a:active { text-decoration: none;
    font-weight: bold;
            color: burlywood;}